---
---

@import "typography",
		"layout/home",
		"layout/menu"
		;

@import "../bower_components/susy/sass/susy";

@mixin clearfix {
  &:after {
    content: ""; 
    display: table;
    clear: both; 
  }
}

img {
  max-width: 100%;
}


/* Susy default global settings */

$susy: (
  container: auto,
  columns: 12,
  gutters: 1/4,
  container-position: center,
  global-box-sizing: border-box
);

@include border-box-sizing;

.wrapper {
  @include container;
}


h2 {
	font-weight: 400;
}

.itemlist {
	.itemlist-header {
		h2 {
			font-weight: 100;
			border-bottom: 1px solid #e9e9e9;
			padding-bottom: 15px;
			color: #999;
		}
	}
}

.video-full {
	position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  margin: 40px auto;
  iframe {
		  position: absolute;
  		top: 0;
  left: 0;
  width: 100%;
  height: 100%;
	}
}

section {

    &.main-header {
		@include container;
    position: relative;

		.hero {
			height: 400px;
		}
	}
}

@include susy-breakpoint(320px, 1) {
	.itemlist .itemlist-header h2 { color: red; }
  .gallery { 
  	@include span(2);
  	
  	.gallery-item {
		margin-bottom: gutter(1);
    	img {
  			width: 100%;
  		}

    	&.gi3 {
  			@include gallery(1 of 2);	
    	}
	}	
  }
}

.gallery {
	@include span(12);
	@include bleed(gutter(12));
	@include clearfix;
	padding: gutter();
	margin-bottom: 0;

    .gallery-item {
		margin-bottom: gutter();

    	&.gi3 {
  			@include gallery(12 of 12);
  			float: none;

  			@media (min-width: 700px) {
      			@include gallery(4 of 12);
      			margin-bottom: 0;
    		}	
    	}

    	&.gi2 {
  			@include gallery(6 of 12);	
    	}
	}	
} 


*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
}