---
layout: home
---

{% include topbar.html %}

<section class="main-header">
    <div class="hero">
        <h1 class="hero-title">Ulampinoy</h1>
        <p class="hero-tagline">
        Passion for home cooking, food photography, video recipes and random things
        </p>
    </div>
</section>

<div class="page-wrapper"> 

    {% include latest-posts.html %}

    {% include featured-video.html %}

    {% include more-videos.html %}

    {% include favorites.html %}

    {% include subscribe.html %}

    {% include footer.html %}

</div>