// Color Variables

$carbon: #0A0A0A;
$silver: #BABABA;
$veridian: #DFFFBF;
$tomato: #FFEADE;

// Dark theme

body {
	&.dark {
		background-color: $carbon;
		color: $silver;

		.home-menu {
			background: $carbon;
		}
	}

	&.green {
		background-color: $veridian;

		.single-post .entry h1, .fa.fa-circle {
			color: #4C6600;
		}
	}

	&.tomato {
		background-color: $tomato;

		.single-post .entry h1, .entry h3, .fa.fa-circle {
			color: #A7434E;
		}

		.entry h3 {
			opacity: .8;
		}
	}


}
