<section id="featured-video" class="black-box">
    <div class="title-section-name">
        <h2 class="dark">Cook along now</h2>
    </div>
    <div class="video-full">
        <iframe width="640" height="360" src="https://www.youtube.com/embed/Vf1-PuCyGt0?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="video-teaser">
        <h2>Hot Spiced Vinegar</h2>
        <p>
            Watch the video on how to make spiced vinegar with red hot chilis and spices! The perfect dip for crunchy chicharrones and crispy pork belly.
        </p>
        <p><a href="https://www.youtube.com/user/ulampinoy/videos">Watch more video recipes in our YouTube channel</a></p>
    </div>
</section>
