<section class="itemlist">
    <div class="itemlist-header">
        <h2>What's fresh and tasty</h2>
    </div>
    <div class="gallery">
        {% for post in site.categories.featured | limit: 3%}
        <article class="post gallery-item gi3">
            <a href="{{ site.baseurl }}{{ post.url }}"><img src="{{ post.photo }}" /></a>
            <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
            <div class="entry teaser">
                <p>{{ post.excerpt }}
                    <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Learn more</a>
                </p>
            </div>
        </article>
        {% endfor %}
    </div>
</section>
