<section class="top-bar">
  <a class="logo" href="/"></a>
  <nav class="main-nav">
    <ul>
      <li class="nav-item archive"><a href="/archive.html">Archive</a></li>
      <li class="nav-item subscribe"><a href="#subscribe" class="subscribe">Subscribe</a></li>
      <li class="nav-item search">
      	<style type="text/css">
@import url(//www.google.com/cse/api/branding.css);
</style>
<div class="cse-branding-right" style="background-color:#FFFFFF;color:#000000">
  <div class="cse-branding-form">
    <form action="search.html" id="cse-search-box">
      <div>
        <input type="hidden" name="cx" value="partner-pub-9964697758880128:1478372552" />
        <input type="hidden" name="cof" value="FORID:10" />
        <input type="hidden" name="ie" value="UTF-8" />
        <input type="text" name="q" size="55" />
        <input type="submit" name="sa" value="Search" />
      </div>
    </form>
  </div>
</div>

      </li>
    </ul>
  </nav>
</section>