/* Homepage Styles */

section {

	&.main-header {
		position: relative;

		&::before {
			content: '';
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			background-position: top center;
			background-size: 100% 25%;
			background-repeat: no-repeat;
			z-index: 1;
			background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0) 100%);
  			background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0) 100%);
		}
	
		&::after {
			background: url('/assets/hero/vinegar-spices.jpg') no-repeat center center;
	  		background-size: cover;
	  		content: "";
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: -1;
			color: #fff;
	  		-webkit-transition: -webkit-filter 0.5s, filter 0.5s;
	  		transition: filter 0.5s;
		}
	}

	&.top-bar {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		z-index: 7;
		-webkit-transition: -webkit-transform 0.3s;
		transition: transform 0.3s;

		.logo {
			  background: url('/images/logo-up-red.svg') no-repeat;
			  background-position: center;
			  background-size: 120px 164px;
			  height: 120px;
			  width: 164px;
			  position: absolute;
			  left: 60px;
			  top: 20px;
			  opacity: .88;

			  &:hover {
			  	opacity: 1;
			  }
		}

		nav {
			margin: 0;
			&.main-nav {
				 float: right;
 				 margin: 30px 60px 0 0;
			}

			a {
				color: #fff;
				font-weight: 500;
				cursor: pointer;
				position: relative;
				text-transform: uppercase;
				letter-spacing: 2px;
				padding: .8em;
				text-shadow: 0 1px 5px rgba(0,0,0,.3);

				&:hover {
					text-decoration: none;
            		border-color: #00A1F1;
            		background: #00A1F1;
            		color: #fff;
				}
			}

			ul {
				margin-bottom: 0;

				li {
					float: left;
					margin: 0 15px;
					list-style: none;

					&:first-of-type {
						margin-left: 0;
					}

					&.nav-item {
						margin-top: 6px;
					}

					.st-default-search-input {
						color: #fff;
						font-size: 16px;
						width: 92px;
						-webkit-transition: width .3s;
						-moz-transition: width .3s;
						transition: width .3s;
						border-radius: 33px;
						border: 1px solid rgba(255,255,255,0.8);
						background-color: rgba(0,0,0,.2);
						background-image: url(/images/ic_search_white_24dp_2x.png);
						background-repeat: no-repeat;
						background-size: 24px 24px;
						padding: 12px 20px 11px 40px;

						&:focus {
							width: 144px;
						}
					}

					::-webkit-input-placeholder {
   						color: rgba(255,255,255,.8);
   						font-weight: 300;
					}

				}
			}
		}
	}
}

.fresh {
		margin-top: 30px;
	}


@media (max-width: 34.5em) {
	section {
		&.top-bar {
			top: 15px;
			.logo {
				margin: 0  auto;
				text-align: center;
				height: 120px;
			  	width: 157px;
			  	display: block;
			  	position: static;
			}
			
		}
	}
	.splash-container {
        height: 480px;
    }
    .splash-head {
		margin-top: 70px;
    }
    .splash-subhead {
		font-size: 21px;
		color: white;
		font-weight: 400;
		line-height: 1.7;
		text-shadow: 0 0 15px rgba(0,0,0,0.5);
	}
	section.top-bar nav.main-nav {
		margin: 10px auto;
		display: block;
		width: 280px;
		float: none;
		text-align: center;

		ul {
			overflow: hidden;
			display: block;
			margin: 0;
			padding: 0;

			li {
				.st-default-search-input {
					width: 185px;
					margin-right: 0;
					float: none;
				}

				&.nav-item {
					display: none;
				}
			}
		}

	}

	.hero-mini {
		.header {
			font-size: 16px;
			width: 70%;
			top: 210px;
		}
	}

	.single-post {
		p, ul, ol {
			font-size: 18px;
		}
	}

	.meta.pubDate {
		font-size: 14px;
	}

}

.post-hero {
	&::before {
	content: '';
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	background-position: top center;
	background-size: 100% 25%;
	background-repeat: no-repeat;
	z-index: 1;
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 10%, rgba(0, 0, 0, 0) 100%);
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 10%, rgba(0, 0, 0, 0) 100%);
	}
}

.title-friendly {
	
	h2 {
		margin-top: 0;
	}
}

