<!DOCTYPE html>
<html lang="en-us">
{% include head.html %}

<body>

  {{ content }}

  <!--
    <label for="sidebar-checkbox" class="sidebar-toggle"></label>
  -->

  <div class="footer l-box is-center">
    <p>Copyright © 2015 UlamPinoy. All rights reserved. Follow us <a href="https://instagram.com/ulampinoy/">Instagram</a></p>
  </div>

  <script src="/js/jquery.js"></script>
  <script src="/js/jquery.backstretch.js"></script>
  <script>
  $(".post-hero").backstretch("{{ page.photo }}");
  </script>

  {% include ga.html %}

</body>

</html>
